.Landing-Container {
  height: 100%;
  width: 100%;
  display: flex;
  font-size: 20px;
}

.Landing {
  border-radius: 30px;
  display: grid;
  width: 90%;
  margin: auto;
  align-items: center;
  text-align: center;
  padding: 25px;
  grid-template-columns: 100%;
  margin-top: 40px;
}

.brand {
  margin-top: 0;
  color: white;
  font-size: 75px;
  background-color: #6291BD;
  background: radial-gradient(circle, rgba(123,188,224,1) 0%, rgba(104,167,202,1) 35%, rgba(98,145,189,1) 100%);
  text-align: center;
  box-sizing: border-box;
}


.a {
  grid-row: span 3;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.Landing-Item img {
  width: 95%;
}
.a img {
  width: 80%;
}

.a img:hover {
  transform: scale(1.04);
}

.a h2 {
  margin-bottom: 20px;
}

.Landing span{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Landing span p {
  width: 80%;
  font-size: x-large;
}

.Landing .col-h{
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .brand {
    font-size: 60px;
  }
}
@media only screen and (max-width: 400px) {
  .brand {
    font-size: 50px;
  }
}
