.SignIn-Form {
  position: relative;
  min-height: 70vh;
  width: 100%;
  margin: auto;
}

.newForm {
  text-align: center;
  padding: 20px;
  background-color: rgba(243, 241, 241, 0.8);
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.h1-SignIn {
  text-align: center;
  padding: 3%;
}
.newForm input {
  width: 55%;
  margin: 1%;
  padding-left: 10px;
  font-size: large;
}

.newForm input:focus {
  border: 3px solid #71b1d5;
}

.Login {
  padding: 5px;
  margin: 5px;
  width: 45%;
}

.divider {
  border-bottom: 1px black solid;
  margin-top: 15px;
  margin-bottom: 15px;
}

.SignUp-But p {
  text-shadow: 0px -1px 0px rgb(0 0 0 / 50%);
  font-weight: bold;
  margin: auto;
  margin-top: 10px;
  padding: 8px;
}

.SignUp-But p:hover {
  /* background-color: rgb(221, 180, 118, 0.8); */
  color: white;
  background: linear-gradient(90deg, rgba(123,188,224,1) 0%, rgba(104,167,202,1) 35%, rgba(98,145,189,1) 100%);

}

.SignIn-Labels {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SignIn-Labels label {
  font-weight: 700;
  margin-bottom: 7px;
  margin-top: 7px;
}

.SignIn-Labels form {
  margin-bottom: 10px;
}

.newForm form {
  text-shadow: none;
}

.newForm button {
  margin-top: 10px;
  font-size: medium;
}

.Container form label {
  font-size: medium;
  text-shadow: none;
  font-weight: 700;
}

.newForm .SignUp{
  margin-top: 20px;
}
@media only screen and (max-width: 1200px) {
  .newForm {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .SignIn-Form {
    background: none;
  }
  .newForm {
    top: 45%;
  }

  .newForm input {
    width: 100%;
  }

  .Login {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .Container {
    height: 75%;
    width: 95%;
  }

  .newForm {
    width: 100%;
  }
}
