.SignUp-Form {
  position: relative;
  min-height: 70vh;
  width: 80%;
  background: rgb(104, 168, 202, 0.5);
  margin: auto;
  margin-top: 20px;
  border-radius: 8px;
}
.Container {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Rampart One";
  border: 2px solid black;
  border-radius: 15%;
  width: 60%;
  height: 60%;
  padding: 20px;
  background-color: rgba(243, 241, 241, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Container form {
  width: 100%;
  height: max-content;
}

.Container h1 {
  margin-bottom: 10px;
}
.Container form input {
  width: 50%;
  border: 2px solid #000000;
  font-size: large;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Container form input:focus {
  border: 3px solid #71b1d5;
}

.Container button {
  padding: 5px;
  margin: 5px;
  width: 40%;
}

@media only screen and (max-width: 1200px) {
  .Container {
    width: 80%;
    height: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .SignUp-Form {
    background: none;
  }
  .Container form input {
    width: 100%;
  }

  .Container button {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .Container {
    height: 75%;
    width: 95%;
  }
}
