nav {
  box-sizing: border-box;
  border-bottom: 1px solid white;
}

.NavBarItems {
  background-image: linear-gradient(
    to right top,
    #7bbce0,
    #76b7da,
    #71b1d5,
    #6daccf,
    #68a7ca
  );
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  width: 30%;
  /* display: inline; */
}

.nav-links {
  color: white;
  padding: 0.5rem 1rem;
}

.NavBarItems {
  position: relative;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.nav-menu.active {
  background-image: linear-gradient(
    to right top,
    #3b90bf,
    #3a8fbe,
    #3a8ebc,
    #398dbb,
    #388cba,
    #388bb9,
    #378bb8,
    #378ab7,
    #3789b5,
    #3888b4,
    #3887b2,
    #3886b1
  );
  top: 80px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
  z-index: 100;
}

.nav-links {
  text-align: center;
  padding: 15px;
  width: 100%;
  display: table;
  letter-spacing: 1px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.nav-links:hover {
  background-image: linear-gradient(
    to right top,
    #7bbce0,
    #76b7da,
    #71b1d5,
    #6daccf,
    #68a7ca
  );
  border-radius: 0;
  border: 1px dotted white;
}

.nav-links-mobile {
  display: block;
  text-align: center;
  border-radius: 4px;
  width: 80%;
  margin: 2rem auto;
  padding: 1.5rem;
  background: #4ad9e4;
  text-decoration: none;
  font-size: 1.5rem;
}

.accountNav {
  display: flex;
  width: 100%;
  justify-content: right;
  margin-right: 1.5rem;
}

.accountLinks {
  margin-left: 1.5rem;
  color: #fff;
}

.accountLinks:hover {
  border-radius: 4px;
  transform: scale(1.05);
}

.accountLinks:active{
  transform: scale(1);
}

.nav-but {
  padding-top: 5px;
  padding-bottom: 5px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 0px #2c6d8f, 0px 2px 10px rgba(0, 0, 0, 0.4),
    inset 1px 1px 3px rgba(255, 255, 255, 0.927);
  font-size: large;
}

.accountNav .logout{
background-color: #2c6b8e;
background-image: none;
}


@media only screen and (max-width: 742px) {
  .accountLinks {
    margin-left: 10px;
  }

  .accountNav {
    width: max-content;
    margin-right: 10px;
    flex-wrap: wrap;
  }

  .NavBarItems {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 730px) {
  .navbar-logo {
    width: max-content;
  }
  .NavBarItems {
    flex-wrap: wrap;
    height: 120px;
  }

  .nav-menu {
    top: 120px;
  }
  .accountNav {
    width: 100%;
    justify-content: center;
    /* justify-content: space-evenly; */
  }

  .accountLinks {
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .accountNav {
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 10px;
    margin: 10px;
  }

  .accountLinks {
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    padding-left: 0;
  }

  .nav-but {
    display: block;
    width: 200px;
    text-align: center;
    font-size: small;
  }

  .NavBarItems {
    height: 150px;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .nav-menu.active {
    top: 150px;
  }
}

@media only screen and (max-width: 350px) {
  .accountNav {
    width: 100%;
    margin-right: 20px;
  }


}

.svg{
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 0px #2c6d8f, 0px 2px 10px rgba(0, 0, 0, 0.4),
    inset 1px 1px 3px rgba(255, 255, 255, 0.927);
}