nav {
  box-sizing: border-box;
}

.NavBarItems {
  background: radial-gradient(
    circle,
    rgba(123, 188, 224, 1) 0%,
    rgba(104, 167, 202, 1) 35%,
    rgba(98, 145, 189, 1) 100%
  );
  color: #7bbce0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  width: 30%;
}

.nav-links {
  padding: 0.5rem 1rem;
}

.NavBarItems {
  position: relative;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.nav-menu.active {
  background: linear-gradient(
    90deg,
    rgb(60, 145, 191) 0%,
    rgb(52, 127, 167)35%,
    rgb(48, 118, 155)100%
  );
  top: 80px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
  z-index: 100;
  -webkit-box-shadow: -1px 10px 20px -4px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 10px 20px -4px rgba(0, 0, 0, 0.5);
}

.nav-links {
  text-align: center;
  padding: 15px;
  width: 100%;
  display: table;
  letter-spacing: 1px;
  color: white;
  font-weight: 700;
}

.nav-links:hover {
  background: radial-gradient(
    circle,
    rgba(123, 188, 224, 1) 0%,
    rgba(104, 167, 202, 1) 35%,
    rgba(98, 145, 189, 1) 100%
  );
  color: black;
  border-radius: 0;
  font-size: larger;
}

.nav-links-mobile {
  display: block;
  text-align: center;
  border-radius: 4px;
  width: 80%;
  margin: 2rem auto;
  padding: 1.5rem;
  background: #4ad9e4;
  text-decoration: none;
  font-size: 1.5rem;
}

.accountNav {
  display: flex;
  width: 100%;
  justify-content: right;
  margin-right: 1.5rem;
}

.accountLinks {
  margin-left: 1.5rem;
}

.accountLinks:hover {
  border-radius: 4px;
  transform: scale(1.05);
}

.accountLinks:active {
  transform: scale(1);
}

.nav-but {
  padding-top: 5px;
  padding-bottom: 5px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 0px #2c6d8f, 0px 2px 10px rgba(0, 0, 0, 0.4),
    inset 1px 1px 3px rgba(255, 255, 255, 0.927);
  font-size: large;
}

.accountNav .logout {
  background-color: #2c6b8e;
  background-image: none;
}

.accountNav .nav-but {
  background-color: #2c6b8e;
  background-image: none;
}

@media only screen and (max-width: 742px) {
  .accountLinks {
    margin-left: 10px;
  }

  .accountNav {
    width: max-content;
    margin-right: 10px;
    flex-wrap: wrap;
  }

  .NavBarItems {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 730px) {
  .navbar-logo {
    width: max-content;
  }
  .NavBarItems {
    flex-wrap: wrap;
    height: 120px;
  }

  .nav-menu.active {
    top: 120px;
  }
  .accountNav {
    width: 100%;
    justify-content: center;
  }

  .accountLinks {
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .accountNav {
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 10px;
    margin: 10px;
  }

  .accountLinks {
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    padding-left: 0;
  }

  .nav-but {
    display: block;
    width: 200px;
    text-align: center;
    font-size: small;
  }

  .NavBarItems {
    height: 150px;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .nav-menu.active {
    top: 150px;
  }
}

@media only screen and (max-width: 350px) {
  .accountNav {
    width: 100%;
    margin-right: 20px;
  }
}

.svg {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 0px #2c6d8f, 0px 2px 10px rgba(0, 0, 0, 0.4),
    inset 1px 1px 3px rgba(255, 255, 255, 0.927);
}
