.form-container {
  background-color: white;
  display: grid;
  text-align: center;
  height: 100%;
  width: 50%;
  margin: 0 auto;
}

.edit-checkbox {
  width: 100%;
}

.edit-eventform label {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.edit-checkbox span {
}

#test {
  width: 80%;
  text-align: left;
}

label {
  display: block;
}
