body {
  background-color: #b2d3e6;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #68a7ca;
}

input[type="text"],
input[type="number"]{
  display: grid;
  width: 100%;
  height: 25px;
  color: #68a7ca;
}

::placeholder {
  color: #68a7ca;
}

.editForm {
  display: grid;
  background-color: white;
  padding: 20px;
  width: 25%;
}

form {
  display: grid;
}

.btns {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

button {
  color: #64b5f6;
  height: 50px;
  width: 100px;
}
