.form-container {
  background-color: white;
  font-size: larger;
  display: grid;
  text-align: center;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
}

.edit-checkbox {
  display: flex;
  align-items: center;
  font-size: x-large;
  /* display: flex;
  justify-content: center; */
  /* width: 100%; */
}

/* .checkbox-span label { */
  /* display: flex;
  justify-content: space-around;
  flex-direction: row-reverse; */
  /* display: block; */
/* } */

.edit-checkbox .checkmark {
  margin-left: 10px;
  /* margin-right: 20px; */
  height: 23px;
  width: 23px;
}

.category {
  /* width: 80%; */
  text-align: left;
  margin-left: 50px;
}

/* label {
  display: block;
} */

.cancel-edit {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: medium;
}

.checkSpan-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkSpan-container h2 {
  margin-bottom: 20px;
}

.checkbox-span {
  display: block;
  text-align: left;
  width: max-content;
}

.edit-page {
  text-align: center;
}

.edit-page h1 {
  padding-bottom: 20px;
}

.edit-eventform input {
  display: flex;
  margin: 10px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
  margin-top: 20px;
}

.button-container button {
  padding: 5px;
  width: 50%;
}

.edit-eventform {
  border-radius: 10px;
  position: relative;
  padding-bottom: 30px;
}

.edit-input label,
.edit-input input {
  display: inline-block;
  width: 50%;
  text-align: center;
  margin-top: 10px;
}
.edit-input label {
  font-weight: bold;
  letter-spacing: 1px;
}

.edit-input {
  margin-top: 30px;
}

@media only screen and (min-width: 320px) and (max-width: 800px) {
  .form-container {
    width: 85%;
  }
}
