.newForm {
    text-align: center;
    border: 2px solid black;
    border-radius: 10%;
    padding: 20px;
    background-color: rgb(228, 202, 210, 0.8);
    /* margin: 5%; */
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.newForm input {
    width: 100%;
    margin: 1%;
}
h4:hover {
    background-color: rgb(221, 180, 118)
}
link:link {
    color: green;
}
.newForm input:focus {
    border: 3px solid green;
}

.Login {
    width: 75%;
    padding-top: 2%;
}

.divider {
    border-bottom: 1px black solid;
    padding: 2%;
}

