.newForm {
    
    border: 2px solid black;
    border-radius: 15%;
    padding: 20px;
    background-color: rgb(228, 202, 210, 0.8);
    margin: 5%;
    width: 20%;
    height: 10%;
}

.newForm input {
    width: 100%;
    margin: 1%;
}
h4:hover {
    background: linear-gradient(
        90deg,
        rgba(165, 197, 215, 1) 0%,
        rgba(178, 211, 230, 1) 100%
      );
}
link:link {
    color: green;
}
.newForm input:focus {
    border: 3px solid green;
}

.Login {
    width: 75%;
    padding-top: 2%;
}

.divider {
    border-bottom: 1px black solid;
    padding: 2%;
}

