.Landing {
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 10%;
}

  .Landing-Item {
    flex-wrap: wrap;
    width: 50%;

  }
  
  /* body {
    background-color: paleturquoise;
  } */