.Landing-Container{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.Landing-Container::before{
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.10;
  background-image: url(../assets/sparkle.webp);
  z-index: -1;
}

.Landing {
  /* position: relative; */
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
<<<<<<< HEAD
  padding-top: 15%;
=======
  /* padding-top: 10%; */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: max-content;
  background-color: #b2d3e6 ;
  margin-right: 100px;
  border-radius: 30px;
>>>>>>> 730fbd96a2938a61b92fef25d97849be42fbf5ff
}

h1 {
  margin-bottom: 2%;
}

.Landing-Item {
  flex-wrap: wrap;
  width: 50%;
  font-size: larger;
  display: flex;
  flex-direction: column;
 justify-content: center;
}

.call2action {
  background-color: rgb(238, 181, 200);
  background-color: rgba(204, 70, 70, 0.534);
  color: white;
  border: 1px solid white;
  border-radius: 5%;
}

.call2action:hover {
  background: linear-gradient(
    90deg,
    rgba(165, 197, 215, 1) 0%,
    rgba(178, 211, 230, 1) 100%
  );

}