.Container {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Rampart One',;
    border: 3px solid black;
    width: 50%;
    padding: 10px;
}

.Container form input {
    width: 50%;
    border: 2px solid #000000;
}

.Container form input:focus {
    border: 3px solid rosybrown;

}

