.Container {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Rampart One";
  border: 2px solid black;
  border-radius: 15%;
  width: 40%;
  padding: 10px;
  background-color: rgba(243, 241, 241, 0.8);
}

.Container form input {
  width: 50%;
  border: 2px solid #000000;
}

.Container form input:focus {
  border: 3px solid #71b1d5;
}

.Container button {
  padding: 5px;
  margin: 5px;
  width: 40%;
  padding-top: 2%;
}
