/* ACROSS SITE */
* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

html,
#root {
  height: 80vw;
}

button {
  border: 0;
  border-radius: 4px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 0px #d8d8d8, 0px 2px 10px rgba(0, 0, 0, 0.4),
    inset 0px 0px 3px rgba(255, 255, 255, 0.927);
}

button:active {
  box-shadow: 0px 2px 0px #b3b3b3, 0px 1px 6px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.797),
    inset 0px 0px 3px rgba(255, 255, 255, 0.927);
  transform: translate(0, 4px);
  transition: all 0.2s ease-in-out;
}

button:hover{
  filter: brightness(104%);
  cursor: pointer;
}

.pg-head {
  margin-bottom: 20px;
}

.page {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.three-d {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 0px #d8d8d8, 0px 2px 10px rgba(0, 0, 0, 0.4),
    inset 0px 0px 3px rgba(255, 255, 255, 0.927);
}

.flex-row {
  display: flex;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* EVENT PAGE */

.eventpage-container {
  width: 95%;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
}

#checklist-container {
  width: 100%;
  border: black 1px solid;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 10% 90%;
  text-align: center;
  justify-items: center;
}

.checklist {
  grid-column: span 2;
  width: 100%;
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
  text-align: center;
}

.checklist-ul {
  margin-bottom: 10px;
  margin-left: 10px;
}

.check-listitem {
  height: 50px;
}

.checklist-button {
  width: 90%;
  padding: 3px;
  font-size: medium;
}

.checklist-span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.book-buttons button {
  width: 100%;
  height: 25px;
  margin: 5px;
}

.check {
  background: rgb(108, 140, 170);
  background: linear-gradient(
    90deg,
    rgba(108, 140, 170, 1) 0%,
    rgba(94, 120, 144, 1) 100%
  );
  color: ivory;
  font-size: medium;
}

/* .check:hover {
  background: rgb(118, 153, 186);
  background: linear-gradient(
    90deg,
    rgba(118, 153, 186, 1) 0%,
    rgba(107, 137, 164, 1) 100%
  );
} */
.check:active {
  background: rgb(94, 120, 144);
  background: linear-gradient(
    90deg,
    rgba(94, 120, 144, 1) 0%,
    rgba(108, 140, 170, 1) 100%
  );
}

.x {
  font-size: medium;
  background: rgb(158, 190, 219);
  background: linear-gradient(
    90deg,
    rgb(158, 190, 219, 1) 0%,
    rgba(149, 177, 203, 1) 100%
  );
}

.x:hover {
  background: rgb(176, 203, 227);
  background: linear-gradient(
    90deg,
    rgba(176, 203, 227, 1) 0%,
    rgba(160, 185, 208, 1) 100%
  );
}

.x:active {
  background: rgba(149, 177, 203);
  background: linear-gradient(
    90deg,
    rgba(149, 177, 203, 1) 0%,
    rgba(158, 190, 219, 1) 100%
  );
}

#cost-form {
  grid-column: span 2;
}

#budget-container {
  width: 100%;
  text-align: center;
  border: black 1px solid;
}

.budget-list {
  width: 100%;
  height: 90%;
}

.update {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
}

#budget-update {
  height: 100%;
  display: grid;
  grid-template-rows: 10% 90%;
}

.budget-sum {
  border: 0;
  width: 80%;
  margin: auto;
  border-radius: 4px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 0px #d8d8d8, 0px 2px 10px rgba(0, 0, 0, 0.4),
    inset 0px 0px 3px rgba(255, 255, 255, 0.927);
}

.budget-li {
  display: grid;
  grid-template-columns: 60% 30%;
  font-size: larger;
  border-top: 4px solid #e9e9e9;
  padding-top: 3px;
  padding-bottom: 3px;
}

.budget-cat {
  text-align: left;
  padding-left: 10px;
}

.total {
  border-top: 2px solid black;
  font-weight: 700;
}

#countdown-container {
  grid-column: span 2;
  width: 100%;
  text-align: center;
  border: black 1px solid;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.countdown {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.evenpg-containers {
  padding-top: 15px;
  padding-bottom: 15px;
}

.col-h {
  margin-top: 10px;
}

/* VENDOR SHOW PAGE */

.carousel {
  width: 70%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.main-slide {
  padding-top: 30px;
}

.car-wrap {
  width: 50%;
}

.carousel .slider-wrapper {
  width: 100%;
}
.vendor-imgs {
  height: 500px;
  width: 100%;
}

#ven-info {
  width: 70%;
  margin-top: 20px;
}

#ven-info p,
#ven-info div {
  margin: 0;
}

.reviews {
  margin-top: 20px;
  width: 70%;
}

.review {
  display: grid;

  grid-template-columns: 20% 80%;
  align-items: center;
  justify-items: center;
}

.reviewers {
  margin-top: 5px;
  margin-bottom: 5px;
}

.reviewers p,
.reviewers img {
  margin: 0;
}

/* VENDOR INDEX PAGE */
.indexpg-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

#zip-search {
  width: 200px;
  margin-right: 10px;
  font-size: medium;
}

#zip-form {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ven-ul {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  row-gap: 20px;
  column-gap: 20px;
  margin-top: 30px;
  text-align: center;
}

.ven-li {
  padding: 20px;
}
