/* ACROSS SITE */
* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

html,
#root,
.site {
  min-height: 100vh;
  flex: 1;
  width: 100%;
  overflow-x: hidden;
}

.site {
  padding-bottom: 100px;
}

h1,
h2,
h3,
h4 {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
}

.page h1 {
  text-align: center;
}

h1 {
  margin-top: 10px;
}

h2:hover {
  color: black;
}

body {
  background: radial-gradient(
    circle,
    rgba(186, 222, 242, 1) 0%,
    rgba(178, 211, 230, 1) 100%
  );
  position: relative;
}

button {
  border: 0;
  border-radius: 4px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 0px #7d97a5, 0px 2px 10px rgba(0, 0, 0, 0.4),
    inset 0px 0px 3px rgba(255, 255, 255, 0.927);
}

button:active {
  box-shadow: 0px 2px 0px #7d97a5, 0px 1px 6px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.797),
    inset 0px 0px 3px rgba(255, 255, 255, 0.927);
  transform: translate(0, 4px);
  transition: all 0.2s ease-in-out;
}
button:hover {
  filter: brightness(110%);
  cursor: pointer;
}

.pg-buttons {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  /* background-color: #68a7ca; */
  /* border: 1px solid white; */
  /* background-color: #3886b1; */
  background-image: linear-gradient(to right top, #3b90bf, #3a8fbe, #3a8ebc, #398dbb, #388cba, #388bb9, #378bb8, #378ab7, #3789b5, #3888b4, #3887b2, #3886b1);
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  /* font-size: medium; */
  cursor: pointer;
  box-shadow: 0px 3px 0px #2c6d8f, 0px 2px 10px rgba(0, 0, 0, 0.4),
  inset 1px 1px 3px rgba(255, 255, 255,  0.927); 


}

.pg-buttons:hover {
  filter: brightness(108%);
  transform: scale(1.1);
}

.back-button {
  height: 50px;
  width: max-content;
/* border: 1px solid white; */
border-right: 1px solid white;
border-bottom: 1px solid white;
padding-left: 15px;

}

.pg-head {
  margin-bottom: 20px;
}

.pg-input {
  border-radius: 8px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
}

.three-d {
  background-color: white;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 0px #7d97a5, 0px 2px 10px rgba(0, 0, 0, 0.4),
    inset 0px 0px 3px rgba(255, 255, 255, 0.927);
}

.flex-row {
  display: flex;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading {
  height: 100%;
  margin-top: 50px;
}

.page {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* EVENT PAGE */

.event-page {
  margin-top: 0;
}

#all-booked {
  grid-column: span 2;
  width: max-content;
  margin: auto;
  padding: 10px;
}

.eventpage-container {
  width: 95%;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  border-radius: 8px;
}

#checklist-container {
  width: 100%;

  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 10% 90%;
  text-align: center;
  justify-items: center;
}

.checklist {
  grid-column: span 2;
  width: 100%;
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
  text-align: center;
  row-gap: 12px;
}

.checklist-ul {
  margin-bottom: 10px;
  margin-left: 10px;
}

.check-listitem {
  height: 50px;
  row-gap: 5px;
}

.checklist-button {
  width: 90%;
  padding: 3px;
  font-size: medium;
}

.checklist-span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.book-buttons button {
  width: 100px;
  height: 25px;
  margin: 5px;
  /* width: 100%;
  width: 60% */
}

.check-container{
  display: block;
  position: relative;
  /* padding-left: 35px;
  margin-bottom: 12px; */
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}


.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.checkmark {
  position: absolute;
  /* top: 0;
  left: 0; */
  height: 25px;
  width: 25px;
  background-color: #aaa;
  /* background-color: rgb(205, 202, 202); */
  border-radius: 100%;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4),
  inset 0px 0px 3px rgba(255, 255, 255,  0.927); 
}

.check-container:hover input ~ .checkmark {
  background-color: #ccc;
  /* background-color: #b2d3e6 */
background-color: #68a7ca;
}

.check-container:active input ~ .checkmark{
  background-color: #3886B1;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4),
  inset 0px 0px 1px rgba(255, 255, 255,  0.927); 
}

.check-container input:checked ~ .checkmark {
  /* background-color: #2196F3; */
  /* background-color: #5c96b5; */
  background-color: #3886B1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  /* -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg); */
  transform: rotate(40deg);
}

.book-grid{
  display: grid;
  grid-template-columns: 25% 50%;
  align-items: center;
  justify-content: center;
}
.book-buttons a {
  width: 100%;
  margin-right: 10px;
}

.check {
  background: rgb(104, 167, 202, 1);
  background: linear-gradient(
    90deg,
    rgba(104, 167, 202, 1) 0%,
    rgb(96, 153, 184) 100%
  );
  color: ivory;
  font-size: medium;
}

.check:hover {
  border: 1px solid white;
  background: rgb(96, 153, 184, 1);
  background: linear-gradient(
    90deg,
    rgba(96, 153, 184, 1) 0%,
    rgb(104, 167, 202, 1) 100%
  );
}
.check:active {
  background: rgb(96, 153, 184, 1);
  background: linear-gradient(
    90deg,
    rgba(96, 153, 184, 1) 0%,
    rgb(104, 167, 202, 1) 100%
  );
  border: 1px solid white;
}

.x {
  font-size: medium;
  background: rgba(178, 211, 230);
  background: linear-gradient(
    90deg,
    rgba(178, 211, 230, 1) 0%,
    rgb(165, 197, 215, 1) 100%
  );
}

.x:hover {
  background: rgba(165, 197, 215, 1);
  background: linear-gradient(
    90deg,
    rgba(165, 197, 215, 1) 0%,
    rgba(178, 211, 230, 1) 100%
  );

  border: 1px solid white;
}

.x:active {
  background: rgba(165, 197, 215, 1);
  background: linear-gradient(
    90deg,
    rgba(165, 197, 215, 1) 0%,
    rgba(178, 211, 230, 1) 100%
  );
  border: 1px solid white;
}

#cost-form {
  grid-column: span 1;
  display: flex;

  justify-content: space-evenly;
}

#cost-form input {
  width: 65%;
}

#budget-container {
  width: 100%;
  text-align: center;
}

.budget-list {
  width: 100%;
  height: 90%;
}

.update {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
}

#budget-update {
  height: 100%;
  display: grid;
  grid-template-rows: 10% 90%;
}

.budget-sum {
  border: 0;
  width: 80%;
  margin: auto;
  border-radius: 4px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 0px #d8d8d8, 0px 2px 10px rgba(0, 0, 0, 0.4),
    inset 0px 0px 3px rgba(255, 255, 255, 0.927);
}

.budget-li {
  display: grid;
  grid-template-columns: 60% 30%;
  font-size: larger;
  border-top: 4px solid #e9e9e9;
  padding-top: 3px;
  padding-bottom: 3px;
}

.budget-cat {
  text-align: left;
  padding-left: 10px;
}

.total {
  border-top: 2px solid black;
  font-weight: 700;
}

#countdown-container {
  grid-column: span 2;
  width: 100%;
  height: 250px;
  text-align: center;

  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.countdown {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.evenpg-containers {
  padding: 30px;
}

.col-h {
  margin-top: 10px;
}

/* VENDOR SHOW PAGE */
#vendor-showpage {
  margin-top: 0;
}
.show-header {
  width: 80%;
  margin: auto;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-header h1,
.show-header div {
  display: inline;
  width: 100%;
}

.show-header h1 {
  text-align: right;
  /* width: 85%; */
}

/* .show-header div {
  margin-left: 20px;
} */

.carousel {
  /* width: 70%; */

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.car-wrap {
  width: 65%;
  margin-bottom: 20px;
}

.carousel .slider-wrapper {
  width: 100%;
}
.vendor-imgs {
  height: 500px;
}

#ven-info p,
#ven-info div {
  margin: 0;
}
#ven-info p {
  font-size: larger;
}
#ven-info {
  text-align: left;
  width: 100%;
  margin-left: 20px;
}
.ven-info {
  padding-bottom: 20px;
  margin-top: 0;
}

.reviews {
  margin-top: 20px;
  width: 80%;
}

.review {
  display: grid;
  grid-template-columns: 15% 85%;
  align-items: center;
  justify-items: center;
  height: 180px;
  font-size: medium;
}

.reviewers {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 700;
}

.reviewers p,
.reviewers img {
  margin: 0;
  text-align: center;
}

.book-fav button {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 200px;
}

.like-div {
  margin: 0 auto;
  position: relative;
  text-align: left;
  width: 100%;
}

.heart {
  cursor: pointer;
  padding: 10px 12px 8px;
  /* padding: 12px 14px 10px; */
  background: #fff;
  /* background-color: #3886B1; */
  /* background-color: black; */
  border-radius: 50%;
border: 1px solid white;
  display: inline-block;
  margin: 0 0 15px;
  transition: 0.2s;
  box-shadow: 0px 3px 0px #7d97a5, 0px 2px 10px rgba(0, 0, 0, 0.4),
    inset 0px 0px 3px rgba(255, 255, 255, 0.927);
  margin-top: 20px;
  font-size: 25px;
  margin-right: 10px
}

.heart:hover {
  cursor: pointer;
}

.like-span {
  position: absolute;
  top: -15px;
  left: -70px;
  visibility: hidden;
  opacity: 0;
  transition: 0.6s;
  /* font-size: 2px; */
  font-weight: 700;
  /* color: #68a7ca;
  background-color: white; */
  /* color: #D8BFD8; */
  /* color: white;
 */
  background-color: white;
 color:#3886B1 ;
  /* color: red; */
  /* font-size: larger; */
  display: inline;
  width: max-content;
  padding: 15px 20px;
  border-radius: 50%;
}

i.press {
  animation: size 0.4s;
  color: #68a7ca;
}

span.press {
  /* top: -15px; */
  /* left: -50px;
  left: 50px; */
  top: -70px;
  animation: fade 1.5s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  70% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes size {
  0% {
    padding: 10px 12px 8px;
  }
  50% {
    padding: 10px 14px 8px;
  }
  100% {
    padding: 10px 12px 8px;
  }
  /* 0% {
    padding: 12px 14px 10px;
  }
  50% {
    padding: 12px 16px 10px;
  }
  100% {
    padding: 12px 14px 10px;
  } */
}

/* VENDOR INDEX PAGE */
.indexpg-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: auto;
  margin-top: 30px;
  height: 100%;

}

#zip-search {
  width: 200px;
  margin-right: 10px;
  font-size: medium;
}

#zip-form {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ven-ul {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  row-gap: 20px;
  column-gap: 20px;
  margin-top: 30px;
  text-align: center;
}

.ven-li {
  padding: 20px;
  background-color: white;
  height: 90%;
}

.ven-li-blue{
  padding: 20px;
  height: 90%;
  background-color: #3886B1;
  color: white;
}

.ven-ul button:hover{
  filter: brightness(100%);
}
.ven-li-blue:hover{
  filter: brightness(110%);
}

.ven-img {
  padding-bottom: 10px;
  width: 90%;
  height: 250px;
}
/* EditBooked*/

.directions{
  font-size: larger;
}

.ven-info {
  width: 80%;
  padding-top: 20px;
  text-align: center;
}

.single-ven {
  margin-top: 20px;
}

.ven-cost {
  height: 100px;
  width: 100%;
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.ven-cost button {
  /* width: 30%; */
  width: max-content;
  height: 25px;
}

.ven-cost input {
  font-size: medium;
  height: 20px;
}

/* DASHBOARD */

.dash-container {
  width: 95%;
  border-radius: 8px;
  margin: auto;
}

.dash-events {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  justify-items: center;
  width: 100%;
}

.dash-event {
  height: 255px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 0px rgba(125, 151, 165, 0.4),
    0px 2px 4px rgba(125, 151, 165, 0.4);
  color: #68a7ca;
  text-align: center;
}

.plus-sign {
  font-size: 200px;
  font-family: "Times New Roman";
  line-height: 150px;
  height: 140px;
  color: #68a7ca;
}

.new-sq {
  justify-content: center;
  align-items: center;
}

.new-event:hover {
  transform: scale(1.1);
}

.event-sq {
  display: grid;
  grid-column: 50% 50%;
  align-items: center;
  height: 90%;
  width: 98%;
  align-items: flex-end;
}

.plan-ev {
  font-size: larger;
  font-weight: 700;
}

#new {
  font-size: larger;
  font-weight: 700;

  padding-left: 5px;
  padding-right: 5px;
}

.plan-ev:hover {
  transform: scale(1.1);
}
.ed-but {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  height: 100%;
}
.edit-ev {
  width: max-content;
  padding-top: 5px;
  padding-bottom: 5px;
}


@media only screen and (max-width: 1200px) {
  /* VENDOR INDEX */
  .ven-ul {
    grid-template-columns: 45% 45%;
    width: 90%;
  }
}

@media only screen and (max-width: 1000px) {
  /* EVENT PAGE */
  .eventpage-container {
    grid-template-columns: 100%;
  }

  #countdown-container {
    grid-column: span 1;
  }
/* VENDOR SHOW */
.like-span {
  /* top: 0;
  left: -60px;
  font-size: medium;
  padding: 15px;
  width: 100% */

  top: -15px;
left: -70px;
font-size: smaller;
padding: 10px;

}

span.press {
  /* left: -100px; */
  /* top: 0px; */
  /* top: -70px; */
  left: -140px;
  top: -10px;
}

}

/* @media only screen and (max-width: 850px){
  VENDOR SHOW
  #vendor-showpage{
    margin-top: 20px;
  }
.show-header span{
  width: 100%;
  display: block;
}
  .like-span {
    top: 0;
    left: -60px;
    font-size: medium;
    padding: 15px;
    width: 100%
  }
  
  span.press {
    left: -100px;
    top: 0px;
    top: -70px;

  }

} */

@media only screen and (max-width: 800px) {
  /*DASHBOARD*/
  .dash-events {
    grid-template-columns: 49.5% 49.5%;
  }
}

@media only screen and (max-width: 700px) {
  /* VENDOR INDEX */
  .ven-ul {
    grid-template-columns: 90%;
  }

  /* VENDOR SHOW */
  .rev-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
  }

  .review {
    grid-template-columns: 30% 70%;
  }

  .reviewers img {
    box-shadow: none;
    width: 90%;
  }

  .vendor-imgs {
    height: 350px;
  }

  .car-wrap {
    width: 90%;
  }
}

@media only screen and (max-width: 680px) {
  /* VENDOR SHOW PAGE */
  .like-span {
    top: 0;
    left: 80px;
    font-size: smaller;
    padding: 10px;
  }
  
  span.press {
    left: -30px;
    top: 20px;
    z-index: 100;
  }

}
@media only screen and (max-width: 500px) {

  .pg-buttons:hover{
    transform: none;
  }
  /*DASHBOARD*/
  .plan-ev {
    font-size: medium;
  }
  .edit-ev {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 12px;
  }

  /*VENDOR SHOW */
  .like-div {
    text-align: center;
  }

  .show-header{
    width: 100%
  }

  .heart{
    margin-top: 2px;
  }
  .show-header span{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .show-header h1 , .show-header div{
    width: 100%;
    text-align: center;
    margin-left: 0px;
  }


  .like-span {
    top: 0;
    left: 80px;
    font-size: smaller;
    padding: 10px;
  }
  
  span.press {
    left: 80px;
    top: 40px;
    z-index: 100;
  }

  .ven-info{
    margin-top: 0px;
  }

}

@media only screen and (max-width: 320px) {
  /* VENDOR INDEX */
  #zip-form {
    flex-direction: column;
    align-items: center;
  }

  #zip-search {
    margin-bottom: 10px;
  }

  #zip-form button {
    width: 80%;
  }
  /* VENDOR SHOW */
  #vendor-showpage h1 {
    text-align: center;
  }
}

svg .widget{
  filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .7)); 

}

